/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.password-container {
    position: relative;
    width: 250px;
    margin: 50px auto;
}

#password {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* Space for the eye icon */
    box-sizing: border-box;
}

#togglePassword {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333;
}